---
const {
    class: classProp
} = Astro.props

//If you want to change the responsive height of footer:
//tweak the `[--footer-height:${x}]` classes inside of footer component
---

<footer
    class:list={[
        classProp,
        "[--footer-height:3] h-[calc(var(--block-size)*var(--footer-height))] md:[--footer-height:2] w-full bg-block-dirt"
    ]}
>
    <div class="h-full w-full bg-block-grass-side bg-repeat-x">
        <div class="flex flex-col md:flex-row items-center justify-between h-full w-full p-5 bg-cover bg-gradient-to-t from-[rgba(0,0,0,0.75)] to-[rgba(0,0,0,0.25)]">
            <div class="flex items-center gap-5 mb-4 md:mb-0">
                <div class="text-white text-2xl md:text-3xl font-bold">ERIKRAFT</div>
                <div>
                    <h3 class="text-white text-xl md:text-2xl">Site Oficial</h3>
                    <p class="text-gray-400 text-sm md:text-base"> 2024 Erikraft - Todos os direitos reservados</p>
                </div>
            </div>
            <div class="flex flex-col md:flex-row gap-3 md:gap-5 text-white text-sm md:text-base">
                <a href="/redes-sociais">Redes Sociais</a>
                <a href="mailto:contact2@erikraft.com">Contato</a>
                <a href="https://ko-fi.com/erikraft" target="_blank">Doação</a>
                <a href="/mais">Mais</a>
            </div>
        </div>
    </div>
</footer>
